<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.officeleave.widget"
    android:versionCode="2"
    android:versionName="1.1.0">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="35" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_office_clock"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_office_clock"
        android:supportsRtl="true"
        android:theme="@style/Theme.OfficeLeave">

        <!-- Launcher Activity (Simple test & instructions screen) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Screen AppWidget Receiver -->
        <receiver
            android:name=".OfficeLeaveWidgetProvider"
            android:exported="true"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.officeleave.widget.ACTION_START" />
                <action android:name="com.officeleave.widget.ACTION_RESET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/office_leave_widget_info" />
        </receiver>

    </application>

</manifest>
